<!DOCTYPE html>
<html>

<head>
    <title>Tea List!</title>
     <link href="https://cdn.discordapp.com/icons/464446382162313227/5abac7582904ccf28ea37ef69c7d37c6.jpg" rel="icon" type="image/x-icon">
    <meta name="description" content="An Discord Bot List!">
	<link href="https://cdn.discordapp.com/icons/464446382162313227/5abac7582904ccf28ea37ef69c7d37c6.jpg" rel="icon" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">



</head>
<style>
  </style>
<body>
 
  <div class="main">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
   <a class="navbar-brand" href="https://tea-list.glitch.me/"><img src="https://cdn.discordapp.com/icons/464446382162313227/5abac7582904ccf28ea37ef69c7d37c6.jpg" width="32px">&nbsp Tea List</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="https://tea-list.glitch.me/">Home <span class="sr-only">(current)</span></a>
          
           
          <a class="nav-item nav-link" href="https://discord.gg/m2pxqCJ">Server</a>
            <a class="nav-item nav-link" href="/about">About Us</a>
        </div>
      </div>
      <ul id="loginButton" class="navbar-nav nav-flex-icons">
        <div class="dropdown" id="discordUsernameDrop" style="display: none;">
          <a class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello, <span id="discordUsername"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="https://tea-list.glitch.me/myBots">My Bots</a>
            <a class="dropdown-item" onclick="logout()">Logout</a>
          </div>
        </div>
      </ul>
    </nav>

  </div><center>
  
    <div id="guild-info" align="center">
        <h5 id="guild-name">Tea List</h5>
        <img id="guild-icon" src="<%= icon %>">
      <p id="users-count">Serving <%= members %> Total Members</p>
    
     
    <div class="d-flex justify-content-center text-center">
 
   
       <a href="https://tea-list.glitch.me/add"
               ><button type="button"  class="btn btn-sm btn-outline-white">Add a Bot<i class="fa fa-users ml-2"></i></button></a>
       <a
          href="https://tea-list.glitch.me/bots"
               ><button type="button"  class="btn btn-sm btn-outline-white">Our Bots
          <i class="fa fa-users ml-2"></i></button>
      </a>
      <a
          href="https://tea-list.glitch.me/request"
               ><button type="button"  class="btn btn-sm btn-outline-white">Report a Bug or Request
          <i class="fa fa-users ml-2"></i></button>
      </a>
    
   
      </div>
      
    </div></center>

  <!-- Scripts -->
  <script src="/socket.io/socket.io.js" crossorigin="anonymous"></script>
  <script src="functions.js" crossorigin="anonymous"></script>
 <script src="index.js" crossorigin="anonymous"></script>
</body>
</html>
